.container-note{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

ul{
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.note-list{
  max-width: 228px;
  flex: 0 0 100%;
  height: 250px;
  background-color: #f8f9fa;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 8px;
  position: relative;
}

.judul{
  box-sizing: border-box;
  font-size: 18px;
  text-transform: capitalize;
  word-wrap: break-word;
  color: darkblue;
}

.tanggal{
  font-size: 12px;
  margin-top: 4px;
  color: cornflowerblue;
}

.isi{
  color: rgb(83, 83, 83);
}

.isi::first-letter{
  text-transform: capitalize;
}

.info{
  font-size: 14px;
  color: grey;
}

.btn{
  max-width: 196px;
  width: 100%;
  display: flex;
  gap: 8px;
  bottom: 16px;
  box-sizing: border-box;
  position: absolute;
}

.btn-del {
  width: 50%;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  padding: 5px;
  color: #d8737d;
  border: 1px solid #d8737d;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.btn-del:hover {
  color: #c42636;
  border-color: #c42636;
}

.btn-restore {
  width: 50%;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  padding: 5px;
  color: #fad25b;
  border: 1px solid #fad25b;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.btn-restore:hover {
  color: #e7af05;
  border-color: #e7af05;
}

h2{
  color: midnightblue;
}