body{
  background-color: #fafafa;
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: antiquewhite;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search{
  width: 35%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.search:hover{
  border-color: #666;
}